*{
    background-color: azure;

}

h1 {
    text-align: center;
    font-size: 80px;
    color: grey;

}

.formulario {
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.pic1{
display: block;
text-align: center;

}