*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea{
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container {
display: grid;
grid-template-columns: 1fr 4fr;
background-color: #DB7093;

}


aside {
    padding: 2rem;
    padding-right: 0%;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.logo {
    font-weight: 400;
    font-size: 1.3rem ;

}

.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .95rem;

}

.boton-categoria.active {
    background-color: white;
    color: #DB7093;
    width: 100%;
    border-top-left-radius: 1rem;

}

.texto-footer{
    color: white;
    font-size: .85rem;
}

main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
    display: grid;
    
}

.titulo-principal {
    color: #DB7093;

}

.contenedor-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 4rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: #DB7093;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;

}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
border:0;
background-color: white;
color: #DB7093;
padding: .5rem;
text-transform: uppercase ;
border-radius: 2rem;
cursor: pointer;


}

.producto-agregar:hover {
    background-color: #DB7093;
    color: white;

}

/** Carrito **/

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio,
.carrito-comprado{
    color: #DB7093;
    display: none;

}

.carrito-productos{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: .9rem;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D3D3D3;
    color: #DB7093;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;

}


.carrito-acciones-total{
    display: flex;
    border: 0;
    background-color:#D3D3D3;
    padding: 1rem;
    border-radius: 1rem;
    color: #DB7093;
    text-transform: uppercase;

}


.carrito-acciones-vaciar{
    border: 0;
    background-color:#D3D3D3;
    padding: 1rem;
    border-radius: 1rem;
    color: #DB7093;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar{
    display: flex;
    border: 0;
    background-color:#DB7093;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.disabled{
    display: none;
}

